<script id="tmpl-MainView" type="text/html">
  <div class="MainView container">
    <div class="row">
	    <div class="MainView-left span4">
	    
	    </div>
	    
	    <div class="MainView-right span8">
	    
	    </div>
	    <div class="MainView-bottom span12">
	    
        </div>
    </div>
    
  </div>
</script>  